[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
colorama = "*"
art = "*"
asyncio = "*"
numpy="*"
opencv-python="*"
Pillow="*"
pyinquirer = "*"
pymongo = "*"
reportlab = "*"
rich = "*"
pytest = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.9"
